@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* その他のスタイルは以下に記述していきます */
.header {
  height: 50px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20x;
  font-weight: bold;
  margin-left: 50px;
  color: #f2f2f2;
  line-height: 10px;
  margin-top: 17px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 17px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

#image {
  height: 580px;
  background-image: url(../eyecatch.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#image p {
  font-size: 60px;
  color: #f2f2f2;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.parent {
  display: flex;
}

.child {
  width: 483px;
  height: 60px;
  background-color: floralwhite;
  font-size: 10px;
  color: dimgray;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  position: absolute;
  top: 90%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.child2 {
  width: 160px;
  height: 60px;
  background: black;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  position: absolute;
  top: 90%;
  left: 94%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
}

#explain {
  height: 400px;
  background-color: #000;
  color: #f2f2f2;
  position: relative;
}

.explain-right img {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.explain-left {
  position: absolute;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.explain-left h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.explain-left p {
  font-size: 12px;
  font-weight: bold;
  margin: 20px;
}
.explain-left a {
  width: 100px;
  height: 20px;
  font-size: 6px;
  text-decoration: none; /* テキストのスタイルを消す */
  transition: 0.4s ease; /* スタイルが変化する時間 */
  color: #000;
  background-color: #fcf9f9;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.service {
  height: 1200px;
  background: #e5e5e5;
  margin: 100px 0px;
}

.service-title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}

.service-content {
  position: relative;
  padding-bottom: 15%;
}

.service-img {
  position: absolute;
  top: 20%;
  left: 50%;
}

.service-img_second {
  position: absolute;
  top: 280%;
}
.service-content_inner {
  font-size: 20px;
  background: #fff;
  width: 40%;
  height: 130%;
  padding: 2%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 25%;
}
.service-content_inner .mgb-15 {
  padding: 2%;
}

.service-content_inner-second {
  font-size: 15px;
  background: #fff;
  width: 40%;
  height: 40%;
  padding: 2%;
  box-sizing: border-box;
  position: absolute;
  top: 288%;
  left: 40%;
}
.service-content_inner-second .mgb-15 {
  padding: 2%;
}

.service-content .service-btn {
  border: 1px solid #000;
  margin: 0 0 0 auto;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 2%;
  position: absolute;
  top: 80%;
  left: 70%;
}
.service-content2 .service-btn2 {
  border: 1px solid #000;
  margin: 0 0 0 auto;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 2%;
  position: absolute;
  top: 80%;
  left: 70%;
}
#company-wrap {
  display: flex;
  font-weight: bold;
}

.company-cat {
  background: url(../company.jpeg) no-repeat;
  width: 1500px;
  height: 200px;
  color: #cccccc;
  margin-bottom: 60px;
}

.company-cat .title {
  font-size: 23px;
  padding: 10px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.company-cat .text {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 60px;
}

.recruit-cat {
  background: url(../recruit.jpg) no-repeat;
  margin-left: 60px;
  background-size: cover;
  width: 1500px;
  height: 200px;
  color: #cccccc;
  font-weight: bold;
}

.recruit-cat .title {
  font-size: 23px;
  padding: 10px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.recruit-cat .text {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.question {
  width: 1000px;
  height: 90px;
  background-color: #000;
  margin: 0 auto;
  color: #f2f2f2;
  font-weight: bold;
  position: relative;
}

.question h1 {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.question p {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  background: url(../contact-bg.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

.contact .title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
}

.contact .text {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.contact .text2 {
  font-size: 40px;
  padding: 20px;
}
.contact .text3 {
  font-size: 10px;
  font-weight: bold;
  padding: 20px;
}

.contact .btn {
  border: 1px;
  border-color: #f2f2f2;
  font-size: 14px;
  padding: 1%;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #f2f2f2;
}

.footer {
  height: 90px;
  background: #000;
  color: #f2f2f2;
  position: relative;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.footer-logo {
  font-size: 20x;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  margin-right: auto;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 17px;
  color: #f2f2f2;
  text-decoration: none;
}

.footer-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.copyright {
  font-size: 13px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 10px;
    right: 20px;
    transition: 0.4s;
    width: 40px;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: 0.8s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px; /* ハンバーガーメニューの1本目の棒 */
  }

  #hamburger span:nth-of-type(2) {
    top: 20px; /* ハンバーガーメニューの2本目の棒 */
  }

  #hamburger span:nth-of-type(3) {
    top: 30px; /* ハンバーガーメニューの3本目の棒 */
  }

  .header-nav {
    display: none; /* デスクトップのナビを消す */
  }
  #image {
    flex-wrap: wrap;
    width: cover;
  }

  #image p {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    left: 50%;
    top: 50%;
    text-align: center;
  }

  .image .parent {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
  }

  .parent {
    flex-wrap: wrap;
  }

  .parent .child {
    width: 70%;
    top: 72%;
    left: 35%;
  }

  .parent .child2 {
    width: 30%;
    top: 72%;
    left: 85%;
  }

  .explain-right {
    flex-wrap: wrap;
  }

  .explain-right img {
    width: 40%;
    height: 30%;
    top: 100%;
  }

  .explain-left {
    flex-wrap: wrap;
  }

  .explain-left h3 {
    width: 100%;
    height: auto;
    font-size: 30px;
    left: 50%;
    line-height: 120%;
  }

  .explain-left p {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 110%;
  }
  .explain-left .btn {
    width: 60%;
    padding: 3%;
    font-size: 15px;
  }

  .service {
    flex-wrap: wrap;
    width: auto;
    height: 1000%;
    padding-bottom: 20%;
  }

  .service .section-title {
    font-size: 50px;
    padding-top: 10%;
  }
  

  .service-img {
    width: 90%;
    height: 90%;
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .service-content_inner {
    width: 90%;
    font-size: 10px;
    height: auto;
    position: static;
    margin: 0 auto;
    padding: 5%;
  }


  .service-img_second {
    width: 90%;
    height: auto;
    position: static;
    text-align: center;
    margin-left: 5%;
  
  }
  .service-content_inner-second {
    width: 90%;
    font-size: 10px;
    height: auto;
    position: static;
    margin: 0 auto;
    padding: 5%;
  }

  .service-content .service-btn {
    margin-left: 60%;
    position: static;
  }
  .service-content2 .service-btn2 {
    margin-left: 60%;
    position: static;
  }

  #company-wrap {
    flex-wrap: wrap;
  }

  #company-wrap .company-cat {
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
  }

  #company-wrap .recruit-cat {
    width: 180%;
    margin-left: 0%;
  }

  .question {
    width: 100%;
    margin-top: 16%;
  }
  .question .text {
    left: 28%;
  }
  .contact .text2 {
    width: 90%;
  }
  .contact .text3 {
    width: 90%;
    margin-bottom: 8%;
  }

  .contact .btn {
    padding: 2%;
  }

  .footer-logo {
    width: 80%;
    padding: 5%;
    margin: 0 auto;
    max-width: 500px;
  }

  .footer-nav {
    display: none;
  }
  .copyright {
    white-space: nowrap;
    text-align: center;
  }
}
